/* bootstrp jumbotron narrow */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
    background-repeat: no-repeat;              
    background-size: 10%, auto;            
    background-position:left;
    background-origin:content-box;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 1%;
  margin-bottom: 0;
  line-height: 3em; 
    padding-left: 15%;
    font-size: 1.2em;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    padding-top: 10%;
    text-align: left;
    border-bottom: 1px solid #e5e5e5; 
    background-image: url(images/pizza.png);
    background-repeat: no-repeat;              
    background-size: 40%, 20%;            
    background-position:right;
    background-origin:content-box;
   
}
.jumbotron .btn {
  padding: .5em ,4em;
  font-size: 1em;
    
}
.btn-primary{
    background: #000;
    color: yellow;
}
a, a:visited{
    background-color: black !important;
    color:yellow;
}
a:hover{
    background-color: yellow !important;
    color:black !important;
}
 
/* Supporting marketing content */
.marketing {
margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
   
  }

}
